.tit{
    color: white;
    font-size: 26px;
  
}
.tit1{
    color: green;
}
.btn{
    float: right;
}
.btn-success{
    margin-left: 1200px;
}
.navbar{ 
    position: sticky;
    width: 100%;
    padding: 15px 0;
    background:black;
    font-family: 'Times New Roman', Times, serif;
}
.max-width{
    max-width: 1300;
    padding:0 80px ;
    margin: auto;
    color: white;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
   list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 15px;
    font-weight: 200px;
    margin-left: 9px;
    margin-right: 40px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
 color: crimson;
}
#cont1{
    background-color: #fcb900;
}
#cont2 {
    background-color: #ffc811;
}
#cont3{
    background-color: #fcb900;
}
#cont4 {
    background-color: #ffc811;
}
/* #grid{
    column-gap: 25px;
} */

/* #grid1{
    margin-left: 22%;
}
#grid2{
    margin-right: 15%;
    
} */


